@font-face {
  font-family: 'iproj-editor';
  src: url('../font/iproj-editor.eot?71658018');
  src: url('../font/iproj-editor.eot?71658018#iefix') format('embedded-opentype'),
       url('../font/iproj-editor.woff?71658018') format('woff'),
       url('../font/iproj-editor.ttf?71658018') format('truetype'),
       url('../font/iproj-editor.svg?71658018#iproj-editor') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iproj-editor';
    src: url('../font/iproj-editor.svg?71658018#iproj-editor') format('svg');
  }
}
*/
 
 [class^="iproj-editor-icon-"]:before, [class*=" iproj-editor-icon-"]:before {
  font-family: "iproj-editor";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.iproj-editor-icon-indent-left:before { content: '\e800'; } /* '' */
.iproj-editor-icon-indent-right:before { content: '\e801'; } /* '' */
.iproj-editor-icon-list-numbered:before { content: '\e802'; } /* '' */
.iproj-editor-icon-list-bullet:before { content: '\e803'; } /* '' */
.iproj-editor-icon-underline:before { content: '\e804'; } /* '' */
.iproj-editor-icon-bold:before { content: '\e805'; } /* '' */
.iproj-editor-icon-italic:before { content: '\e806'; } /* '' */
.iproj-editor-icon-strike:before { content: '\e807'; } /* '' */
.iproj-editor-icon-superscript:before { content: '\e808'; } /* '' */
.iproj-editor-icon-subscript:before { content: '\e809'; } /* '' */
.iproj-editor-icon-align-left:before { content: '\e80a'; } /* '' */
.iproj-editor-icon-align-center:before { content: '\e80b'; } /* '' */
.iproj-editor-icon-align-right:before { content: '\e80c'; } /* '' */
.iproj-editor-icon-align-justify:before { content: '\e80d'; } /* '' */
.iproj-editor-icon-resize-full-alt:before { content: '\e80e'; } /* '' */
.iproj-editor-icon-resize-horizontal:before { content: '\e80f'; } /* '' */
.iproj-editor-icon-link:before { content: '\e810'; } /* '' */
.iproj-editor-icon-unlink:before { content: '\e811'; } /* '' */
.iproj-editor-icon-pin:before { content: '\e812'; } /* '' */
.iproj-editor-icon-embed:before { content: '\e813'; } /* '' */
.iproj-editor-icon-quote-right:before { content: '\e814'; } /* '' */
.iproj-editor-icon-location:before { content: '\e815'; } /* '' */
.iproj-editor-icon-code-1:before { content: '\e816'; } /* '' */
.iproj-editor-icon-ccw:before { content: '\e817'; } /* '' */
.iproj-editor-icon-ellipsis:before { content: '\e818'; } /* '' */
.iproj-editor-icon-image:before { content: '\e819'; } /* '' */
.iproj-editor-icon-cancel:before { content: '\e81a'; } /* '' */
.iproj-editor-icon-down-big:before { content: '\e81b'; } /* '' */
.iproj-editor-icon-up-big:before { content: '\e81c'; } /* '' */
.iproj-editor-icon-text:before { content: '\e81d'; } /* '' */
.iproj-editor-icon-header:before { content: '\e81e'; } /* '' */
.iproj-editor-icon-fontsize:before { content: '\e81f'; } /* '' */
.iproj-editor-icon-articlecut:before { content: '\e820'; } /* '' */
.iproj-editor-icon-image-caption:before { content: '\e821'; } /* '' */
.iproj-editor-icon-image-text-bottom:before { content: '\e822'; } /* '' */
.iproj-editor-icon-image-text-top:before { content: '\e823'; } /* '' */